<div class="row mt-5">
  <div class="col-md-5">
    <%= image_tag @article.image_url, class: 'product-image' %>
  </div>
  <div class="col-md-7">
    <h3><%= @article.name %></h3>
    <h5>Price: <%= @article.price %> $</h5>
    <h6>Description:</h6>
    <%= @article.description %>
    <h5>Weight:</h6>
    <p><%= @article.weight %> kg</p>
    <% if current_user.admin? %>
      <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-warning" %>
      <%= link_to 'Delete', article_path(@article), method: :delete, class: "btn btn-danger" %>
    <% end %>
    <% if !current_user.admin? %>
      <%= form_tag(add_to_cart_article_path(@article), method: :post) do |f| %>
        <div class="row">
          <div class="col-sm-2">
            <%= number_field_tag :quantity, params[:quantity], class:'form-control', value: 1 %>
          </div>
          <div class="col-sm-2">
            <%= submit_tag 'Add to cart', class: "btn btn-warning" %>
          </div>
        </div> 
      <% end %>
    <% end %>
</div>
<div class="row ml-3 mt-3">
  <%= link_to 'Back', articles_path %>
</div>



